.likedImagesWrapper {
    min-height: 100vh;
    padding-top: 70px;
}

.likedImagesHeader {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    padding: 0 55px; 
    border-bottom: 1px solid rgba(83, 83, 83, 0.3);
    display: flex;
    align-items: flex-end;
}

.likedImagesContentWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.likedImagesHeaderTxtWrapper {
    --toggle-icon-color: #c2c2c2;
    font-size: 14px;
    height: 56px;
    color: #767676;
    transition: color .1s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likedImagesHeaderTxtWrapper:hover {
    color: black;
}

.likedHeartIconImg {
    height: 18px;
    margin-right: 8px;
    transition: fill .1s ease-in-out;
    width: 18px;
}

.numberOfLikedImages {
    margin-left: 8px;
}

.likedImgSearchFormWrapper {
    border: 1px solid #0000;
    border-radius: 4px;
    height: 40px;
    background-color: #eee;
    display: flex;
    height: 40px;
    width: 400px;
}

.likedImgSearchIconWrapper {
    display: flex;
    align-items: center;    
    width: 9%;
    cursor: pointer;
}

.likedImgSearchIcon {
    height: 20px;
    width: 20px;
    padding-left: 14px;
    fill: #767676;
    box-sizing: initial;
    transition: fill .1s ease-in-out;
}

.likedImgSearchInput {
    border: none;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    width: 80%;
    color: #111;
    padding-left: 10px;
}

.likedImgResetSearchInputBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
}

.likedImgResetSearchInputBtn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #767676;
    transition: fill .1s ease-in-out;
}

.likedImgResetSearchInputBtn:hover {
    fill: black !important;
}

.likedImgClearBtn {
    margin-top: 2px;
    width: 20px;
    height: 20px;
    box-sizing: initial;
}


/* RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES RENDERED IMAGES*/

.renderedLikedImagesWrapper {
    padding: 48px 120px;
}

.renderedLikedImagesContent{
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.likedImagesResultsColumnContent {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 24px;
}

.likedImageBoxWrapper {
    max-height: 300px;
    cursor: pointer;
    position: relative;
    --toggle-opacity: 0;
}

.likedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.likedImageBoxBtnWrapper {
    transition: all .25s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    gap: 10px;
    background: linear-gradient(180deg,rgba(25,27,38,.56),rgba(25,27,38,0));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.likedDownLoadBtn, .likedLikeImgBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid hsla(0,0%,100%,.4);
    background: hsla(0,0%,100%,.1);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.25s;
    position: relative;
}

.likedLikeImgBtn:hover::before, .likedLikeImgBtn.liked:hover::before {
    position: absolute;
    top: 36px;
    content: 'Like Image';
    width: 75px;
    background-color: #111;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
}

.likedLikeImgBtn.liked:hover::before {
    content: 'Unlike Image';
    width: 90px;
}

.likedDownLoadBtn:hover::before {
    position: absolute;
    top: 36px;
    content: 'Download Image';
    width: 110px;
    background-color: #111;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
}

.likedLikeImgBtn.liked {
    background-color: green;
}

.likedDownLoadImg, .likedLikeImg {
    width: 15px;
    height: 15px;
}

.likedImgBoxTagsWrapper {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    transition: all .25s;
    background: linear-gradient(180deg,rgba(25,27,38,0),rgba(25,27,38,.56));
    cursor: pointer;
}

.likedImgTagsTxt {
    color: hsla(0,0%,100%,.8);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
















@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
    
    .renderedLikedImagesWrapper {
        padding-left: calc(120px + (100vw - 1536px) / 8);
        padding-right: calc(120px + (100vw - 1536px) / 8);
    }
    
    .likedImageBoxBtnWrapper, .likedImgBoxTagsWrapper {
        padding: calc(16px + (100vw - 1536px) / 67);
    }
    
    .likedLikeImgBtn, .likedDownLoadBtn {
        width: calc(32px + (100vw - 1536px) / 150);
        height: calc(32px + (100vw - 1536px) / 150);
    }
    
    .likedLikeImgBtn:hover::before, .likedLikeImgBtn.liked:hover::before {
        width: calc(75px + (100vw - 1536px) / 60);
        top: calc(36px + (100vw - 1536px) / 150);
        font-size: calc(12px + (100vw - 1536px) / 300);
    }
    
    .likedLikeImgBtn.liked:hover::before {
        width: calc(90px + (100vw - 1536px) / 60);
    }
    
    .likedDownLoadBtn:hover::before {
        width: calc(110px + (100vw - 1536px) / 60);
        top: calc(36px + (100vw - 1536px) / 150);
        font-size: calc(12px + (100vw - 1536px) / 300);
    }
    
    .likedLikeImg, .likedDownLoadImg {
        width: calc(15px + (100vw - 1536px) / 150);
        height: calc(15px + (100vw - 1536px) / 150);
    }
    
    .likedImgTagsTxt {
        font-size: calc(14px + (100vw - 1536px) / 300);
    }
  }

@media (max-width: 1536px) {
    .renderedLikedImagesWrapper {
        padding-left: calc(120px + (100vw - 1536px) / 8);
        padding-right: calc(120px + (100vw - 1536px) / 8);
    }
    
    .likedImageBoxBtnWrapper, .likedImgBoxTagsWrapper {
        padding: calc(16px + (100vw - 1536px) / 67);
    }
    
    .likedLikeImgBtn, .likedDownLoadBtn {
        width: calc(32px + (100vw - 1536px) / 150);
        height: calc(32px + (100vw - 1536px) / 150);
    }
    
    .likedLikeImgBtn:hover::before, .likedLikeImgBtn.liked:hover::before {
        width: calc(75px + (100vw - 1536px) / 60);
        top: calc(36px + (100vw - 1536px) / 150);
        font-size: calc(12px + (100vw - 1536px) / 300);
    }
    
    .likedLikeImgBtn.liked:hover::before {
        width: calc(90px + (100vw - 1536px) / 60);
    }
    
    .likedDownLoadBtn:hover::before {
        width: calc(110px + (100vw - 1536px) / 60);
        top: calc(36px + (100vw - 1536px) / 150);
        font-size: calc(12px + (100vw - 1536px) / 300);
    }
    
    .likedLikeImg, .likedDownLoadImg {
        width: calc(15px + (100vw - 1536px) / 150);
        height: calc(15px + (100vw - 1536px) / 150);
    }
    
    .likedImgTagsTxt {
        font-size: calc(14px + (100vw - 1536px) / 300);
    }
  }


  


  @media (max-width: 800px) {
    
    .renderedLikedImagesWrapper {
        padding-left: calc(28px + (100vw - 800px) / 20);
        padding-right: calc(28px + (100vw - 800px) / 20);
    }

    .likedImagesHeader {
        padding-left: calc(55px + (100vw - 800px) / 20);
        padding-right: calc(55px + (100vw - 800px) / 20);
    }

    .likedImgSearchIconWrapper {
        width: fit-content
    }

    .likedImgSearchInput {
        width: calc(81% + (100vw - 800px) / 30);
    }

    .likedImgResetSearchInputBtnWrapper {
    }

    .renderedLikedImagesContent {
        grid-column-gap: calc(24px + (100vw - 800px) / 20);
    }

    .likedImagesResultsColumnContent {
        row-gap: calc(24px + (100vw - 800px) / 20);
    }
    
    .likedImageBoxBtnWrapper, .likedImgBoxTagsWrapper {
        padding: calc(11px + (100vw - 800px) / 50);
    }
    
    .likedLikeImgBtn, .likedDownLoadBtn {
        width: calc(27px + (100vw - 800px) / 50);
        height: calc(27px + (100vw - 800px) / 50);
    }
    
    .likedLikeImgBtn:hover::before, .likedLikeImgBtn.liked:hover::before, .likedDownLoadBtn:hover::before {
        width: calc(62.7px + (100vw - 800px) / 60);
        top: calc(31px + (100vw - 800px) / 50);
        font-size: calc(9.9px + (100vw - 800px) / 200);
    }
    
    .likedLikeImgBtn.liked:hover::before {
        width: calc(77.7px + (100vw - 800px) / 25);
    }
    
    .likedDownLoadBtn:hover::before {
        left: calc(-40px + (100vw - 800px) / -13);
        width: calc(97.7px + (100vw - 800px) / 20);
    }
    
    .likedLikeImg, .likedDownLoadImg {
        width: calc(10px + (100vw - 800px) / 100);
        height: calc(10px + (100vw - 800px) / 100);
    }
    
    .likedImgTagsTxt {
        font-size: calc(11.5px + (100vw - 800px) / 100);
    }
  }






  @media (max-width: 500px) {

    .likedImagesHeader {
        height: fit-content;
        padding-left: calc(40px + (100vw - 500px) / 9.4);
        padding-right: calc(40px + (100vw - 500px) / 9.4);
    }

    .likedImagesContentWrapper {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 12px;
    }

    .likedImagesHeaderTxtWrapper {
        height: 30px;
    }

    .likedImgSearchFormWrapper {
        width: 100%;
    }

    .likedImgSearchInput {
        width: calc(81% + (100vw - 500px) / 10);
    }

    .likedImgResetSearchInputBtnWrapper {
        width: calc(11% - (100vw - 500px) / 20);
    }
    
    .renderedLikedImagesWrapper {
        padding-left: calc(48px + (100vw - 500px) / 7);
        padding-right: calc(48px + (100vw - 500px) / 7);
    }

    .renderedLikedImagesContent {
        grid-template-columns: 1fr;
        gap: calc(24px + (100vw - 500px) / 20);
    }

    .likedImagesResultsColumnContent {
        row-gap: calc(24px + (100vw - 500px) / 20);
    }
    
    .likedImageBoxBtnWrapper, .likedImgBoxTagsWrapper {
        padding: calc(16px + (100vw - 500px) / 50);
    }
    
    .likedLikeImgBtn, .likedDownLoadBtn {
        width: calc(32px + (100vw - 500px) / 50);
        height: calc(32px + (100vw - 500px) / 50);
    }
    
    .likedLikeImgBtn:hover::before, .likedLikeImgBtn.liked:hover::before, .likedDownLoadBtn:hover::before {
        width: calc(75px + (100vw - 800px) / 60);
        top: calc(42px + (100vw - 800px) / 50);
        font-size: calc(12px + (100vw - 800px) / 200);
    }
    
    .likedLikeImgBtn.liked:hover::before {
        width: calc(90px + (100vw - 800px) / 60);
    }
    
    .likedDownLoadBtn:hover::before {
        width: calc(110px + (100vw - 800px) / 60);
        left: unset;
    }
    
    .likedLikeImg, .likedDownLoadImg {
        width: calc(15px + (100vw - 500px) / 100);
        height: calc(15px + (100vw - 500px) / 100);
    }
    
    .likedImgTagsTxt {
        font-size: calc(14px + (100vw - 500px) / 100);
    }
  }

